<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question {{ question.id }}</title>
  </head>
  <body>
    <h1>{{ question.text }}</h1>
    <ul>
      {% for c in question.choice_set.all %}
        <li>{{ c.choice }} -- {{ c.votes }} Votes</li>
        {% comment %} <p>{{ c.question }}</p> {% endcomment %}
      {% endfor %}
    </ul>
    {% comment %} <a href="/polls">Homepage</a> {% endcomment %}
    <a href="{% url 'polls:index' %}">Index page</a>
  </body>
</html>
